* {
    margin: 0px;
    padding: 0px;
}
.main {
    display: flex;
    flex-direction: column;
    color: black;
    /* margin: 10px; */
    padding-left: 20px;
    padding-top: 10px;
}

.main-color{
    padding: 10px;
    padding-left: 20px;
    background-color: rgb(31, 31, 31);
    color: white;
}
.main h1 ,.main-color h1{
    display: block;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;
}
.parent,
.child,
.list {
    /* color: black; */
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    padding-left: 10px;
    padding: 10px;
}
.para {
    display: flex;
    padding: 10px;
    text-align: justify;
}
.dark {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.button {
    width: fit-content;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.form {
    display: flex;
    /* justify-content: space-between; */
    margin-left: 8px;
    margin-top: 20px;
    text-align: right;
}

input[type='text'],
input[type='datetime-local'] {
    width: 200px;
    margin: 2px;
}
input[type='text']:nth-child(1) {
    margin-top: 20px;
}
.action-button {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
