* {
    margin: 0px;
    padding: 0px;
}

#main {
    display: flex;
    flex-direction: column;
    color: black;
    margin: 10px;
    padding-left: 10px;
}
#main h1{
    display: block;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1;

}
.parent,
.child,.list {
    color: black;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.list{
    padding-left: 10px;
    padding:10px;
}
.para{
    display: flex;
    padding: 10px;
    text-align: justify;
}
.dark{
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.button{
    width: 100px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 10px;
}